body {
    min-width: 300px;
    font-family: sans-serif;
    font-size: 20px;
    color: #88746d;
    background-color: #ad948b;
    background-image: url("assets/cloth-alike.png");
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.content .projects a {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    color: #fff9f6;
}

.content .projects a div {
    width: 160px;
    height: 160px;
    border: 2px solid #5a4941;
    border-radius: 150px;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content .projects a div span {
    background-color: #ccab9e;
    color: #332a26;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.content .projects a div:hover {
    border-color: #42352f;
}
.content .projects a div:hover span {
    color: #0a0808;
    background-color: #332a26;
    color: #ccab9e;
}

.github {
    background-image: url(https://avatars.githubusercontent.com/u/35353708?v=4);
}
.cider {
    background-image: url(assets/cider.png);
}
.oatear {
    background-image: url(assets/oatear.png);
}
.cosmic-apple {
    background-image: url(assets/cosmic-apple.png);
}
.balkan-fables {
    background-image: url(assets/balkan-fables.png);
}
.likely-intelligent {
    background-image: url(assets/likely-intelligent.png);
}
.enigma {
    background-image: url(assets/enigma.png);
}
.web-console {
    background-image: url(assets/web-console.png);
}
.thingiverse {
    background-image: url(assets/thingiverse.png);
}
.astrobin {
    background-image: url(assets/astrobin.png);
}

.footer {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .content {
        height: auto;
    }
    .content h1 {
        font-size: 40px;
    }
    .content .projects a {
        font-size: 30px;
    }
    .content .projects a div {
        width: 240px;
        height: 240px;
        padding: 10px;
    }
}